---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import Section from "@components/Section.astro";
import SocialNetworks from "@components/SocialNetworks.astro";
---

<Layout title="My Tech stack">
  <main class="text-white">
    <Section
      title="Contact Me"
      subtitle=" Do not hesitate asking for information"
    />
    <Container>
      <div class="flex flex-col items-center justify-center p-10 h-96 my-10">
        <h1 class="text-4xl font-poppinsblack">
          For any questions please mail us:
        </h1>
        <h2
          class="text-4xl bg-angel-gradient bg-clip-text text-transparent font-poppinsblack my-10"
        >
          development@angelangulo.com
        </h2>
        <div class="flex flex-col items-center justify-center p-10 h-96">
          <h3 class="font-poppinsblack text-3xl mb-5">Follow me!</h3>
          <SocialNetworks />
        </div>
      </div>
    </Container>
  </main>
</Layout>
