---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import Section from "@components/Section.astro";
import StackCarousel from "@components/StackCarousel.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Container>
      <div class="grid grid-cols-2 gap-4 text-white">
        <div class="p-10 text-white col-span-1">
          <div class="grid grid-cols-4 gap-4 text-white">
            <div class="col-span-4 p-10 ml-5">
              <h2 class="text-5xl font-poppins my-4">Hi 👋,</h2>
              <h2 class="text-5xl font-poppins my-4">
                My name is <span
                  class="bg-angel-gradient bg-clip-text text-transparent font-poppinsblack"
                  >Angel Angulo</span
                >
              </h2>
              <h2 class="text-5xl font-poppins">I build things for web</h2>
            </div>
          </div>
        </div>
        <div class="col-span-1 flex items-center justify-center p-10">
          <img
            class="object-scale-down h-96 w-96 rounded-full aspect-square hover:brightness-125 border-4 border-angelpink"
            src="./images/angel.png"
            alt={`Escudo del equipo`}
          />
        </div>
      </div>
    </Container>
    <Section
      title="My Tech Stack"
      subtitle="Technologies I’ve been working with recently"
    />
    <Container>
      <StackCarousel />
    </Container>
  </main>
</Layout>
