---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import Section from "@components/Section.astro";
import StackSection from "@components/StackSection.astro";
---

<Layout title="My Tech stack">
  <main class="text-white">
    <Section title="My Tech stack" subtitle=" Technologies I’ve been working" />
    <Container>
      <StackSection />
    </Container>
  </main>
</Layout>
