<div class="md:absolute w-60 lg:w-60 block">
  <a
    class="md:relative block hover:scale-125 transition"
    href="/"
    aria-label="Ir a la página principal"
  >
    <h1 class="text-4xl font-poppinsblack text-white">AngelAngulo</h1>
    <h2
      class="text-4xl bg-angel-gradient bg-clip-text text-transparent font-poppinsblack"
    >
      Dev
    </h2>
  </a>
</div>
