---
import Container from "@components/Container.astro";

const { title, subtitle } = Astro.props;
---

<section class="bg-retro-black py-5 my-10 w-full">
  <h1 class="text-white text-5xl font-poppinsblack text-center uppercase mx-5">
    {Astro.props.title}
  </h1>
  <h2 class="text-white text-xl font-poppins text-center uppercase mx-5">
    {Astro.props.subtitle}
  </h2>
</section>
