---
import Network from "./Network.astro";
---

<nav class="md:rounded-full md:m-auto">
  <ul class="flex items-end justify-end">
    <Network socialnetwork="twitter" url="https://twitter.com/AngelAngulo95" />
    <Network
      socialnetwork="linkedin"
      url="https://linkedin.com/in/angelangulonieto"
    />
    <Network socialnetwork="github" url="https://github.com/kaixe455" />
  </ul>
</nav>
