---
import Stack from "@components/Stack.astro";
---

<section class="py-5 mb-4 w-full">
  <div class="grid grid-cols-6">
    <div class="col-span-1">
      <Stack stack="angular" name="Angular" />
    </div>
    <div class="col-span-1">
      <Stack stack="astro" name="Astro" />
    </div>
    <div class="col-span-1">
      <Stack stack="java" name="Java" />
    </div>
    <div class="col-span-1">
      <Stack stack="spring" name="Springboot" />
    </div>
    <div class="col-span-1">
      <Stack stack="tailwind" name="Tailwind" />
    </div>
    <div class="col-span-1">
      <Stack stack="html5" name="HTML 5" />
    </div>
  </div>
  <div class="grid grid-cols-6 mt-5">
    <div class="col-span-1">
      <Stack stack="angularjs" name="AngularJS" />
    </div>
    <div class="col-span-1 brightness-200">
      <Stack stack="aws" name="AWS Cloud" />
    </div>
    <div class="col-span-1">
      <Stack stack="css3" name="CSS3" />
    </div>
    <div class="col-span-1">
      <Stack stack="javascript" name="Javascript" />
    </div>
    <div class="col-span-1">
      <Stack stack="nodejs" name="NodeJS" />
    </div>
    <div class="col-span-1">
      <Stack stack="typescript" name="Typescript" />
    </div>
  </div>
  <div class="grid grid-cols-6 mt-5">
    <div class="col-span-1">
      <Stack stack="bootstrap" name="Bootstrap" />
    </div>
    <div class="col-span-1 brightness-200">
      <Stack stack="docker" name="Docker" />
    </div>
    <div class="col-span-1">
      <Stack stack="github" name="Github" />
    </div>
    <div class="col-span-1">
      <Stack stack="gradle" name="Gradle" />
    </div>
    <div class="col-span-1">
      <Stack stack="jenkins" name="Jenkins" />
    </div>
    <div class="col-span-1">
      <Stack stack="mysql" name="MySQL" />
    </div>
  </div>
  <div class="grid grid-cols-6 mt-5">
    <div class="col-span-1">
      <Stack stack="react" name="ReactJS" />
    </div>
    <div class="col-span-1 brightness-200">
      <Stack stack="wordpress" name="Wordpress" />
    </div>
    <div class="col-span-1">
      <Stack stack="woocommerce" name="WooCommerce" />
    </div>
  </div>
</section>
