---
import Stack from "./Stack.astro";
---

<section class="bg-retro-black py-5 mb-4 w-full">
  <div class="grid grid-cols-6">
    <div class="col-span-1">
      <Stack stack="angular" name="Angular" />
    </div>
    <div class="col-span-1 bg-white rounded-full">
      <Stack stack="astro" name="Astro" />
    </div>
    <div class="col-span-1">
      <Stack stack="java" name="Java" />
    </div>
    <div class="col-span-1">
      <Stack stack="spring" name="Springboot" />
    </div>
    <div class="col-span-1">
      <Stack stack="tailwind" name="Tailwind" />
    </div>
    <div class="col-span-1">
      <Stack stack="html5" name="HTML 5" />
    </div>
  </div>
  <div class="grid grid-cols-6 mt-5">
    <div class="col-span-1">
      <Stack stack="angularjs" name="AngularJS" />
    </div>
    <div class="col-span-1">
      <Stack stack="aws" name="AWS Cloud" />
    </div>
    <div class="col-span-1">
      <Stack stack="css3" name="CSS3" />
    </div>
    <div class="col-span-1">
      <Stack stack="javascript" name="Javascript" />
    </div>
    <div class="col-span-1">
      <Stack stack="nodejs" name="NodeJS" />
    </div>
    <div class="col-span-1">
      <Stack stack="typescript" name="Typescript" />
    </div>
  </div>
</section>
