---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="I am a passionate fullstack programmer with specialized experience in the world of Java and Angular. Hailing from Spain 🌄, I am dedicated to creating innovative and efficient technological solutions."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="bg-darkmode-bg">
    <Header />
    <slot />
    <Footer />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"
    ></script>
  </body><style is:global>
    @font-face {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url("/fonts/Poppins-Regular.woff2") format("woff2");
    }
    @font-face {
      font-family: "PoppinsBlack";
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url("/fonts/Poppins-Black.woff2") format("woff2");
    }
  </style>
</html>
